## Function in python

In [148]:
def even_odd(num):
    if num%2 == 0:
        print("The Number is Even")
    else:
        print("The Number is Odd")

In [149]:
even_odd(24)

The Number is Even

In [150]:
even_odd(5)

The Number is Odd

In [151]:
## print vs return 

def greet():
    return "Hello World!"

In [152]:
greet()

'Hello World!'

In [153]:
res = greet()

In [154]:
res

'Hello World!'

In [155]:
def hello():
    print("Hello World!")

In [156]:
hello()

Hello World!

In [157]:
res = hello()

Hello World!

In [158]:
print(res)

None

In [159]:
def add_number(num1, num2):
    return num1 + num2

In [160]:
add_number(50,40)

90

In [161]:
res = add_number(30,20)

In [162]:
print(res)

50

In [163]:
## positional agrument
## keyword argument

def hello(name,age=20):
    print("My name is {} and my age is {} ".format(name,age))

In [164]:
hello("shubham")

My name is shubham and my age is 20

In [165]:
def hello(*args, **kwargs):
    print(args)
    print(kwargs)

In [166]:
hello("shubham","AIML",age=20)

('shubham', 'AIML')
{'age': 20}

In [167]:
item = ['shubham', 'AIML']
dict = {'age': 20}

In [168]:
hello(item, dict)

(['shubham', 'AIML'], {'age': 20})
{}

In [169]:
hello(*item, **dict)

('shubham', 'AIML')
{'age': 20}

In [170]:
items = [1,2,3,4,5,6,7,8,9]

In [171]:
def sum_even_odd(items):
    even_sum = 0
    odd_sum = 0

    for i in items:
        if i%2 == 0:
            even_sum = even_sum+i
        else:
            odd_sum = odd_sum+i
    return even_sum, odd_sum

In [172]:
sum_even_odd(items)

(20, 25)

## Lambda Function in Python

- Anonymous function. (A function with no name)

In [173]:
## Normal Function

def addition(a,b):
    return a + b

In [174]:
addition(5,4)

9

In [175]:
addtiona = lambda a,b:a+b

In [176]:
addition(50,40)

90

In [177]:
## Normal Function

def even(num):
    if num%2 == 0:
        return True

In [178]:
even(34)

True

In [179]:
even = lambda num: num%2 == 0

In [180]:
even(24)

True

In [181]:
## Normal Function

def Multi(n1, n2, n3):
    return n1*n2*n3

In [182]:
Multi(4,5,6)

120

## Map Fuction in python

In [183]:
# Normal function
def even_or_odd(num):
    if num%2 == 0:
        return "The {} is Even".format(num)
    else:
        return "The {} is Odd".format(num)

In [184]:
even_or_odd(65)

'The 65 is Odd'

In [185]:
lst = [1,2,3,4,56,4,3,6,23,3,423,32,64,4,35,53,86]

In [186]:
# map function
tuple(map(even_or_odd,lst))

('The 1 is Odd',
 'The 2 is Even',
 'The 3 is Odd',
 'The 4 is Even',
 'The 56 is Even',
 'The 4 is Even',
 'The 3 is Odd',
 'The 6 is Even',
 'The 23 is Odd',
 'The 3 is Odd',
 'The 423 is Odd',
 'The 32 is Even',
 'The 64 is Even',
 'The 4 is Even',
 'The 35 is Odd',
 'The 53 is Odd',
 'The 86 is Even')