In [137]:
import numpy as np

## Vaild Sudoku

In [139]:
s = np.array([
    [5, 3, 4, 6, 7, 8, 9, 1, 2],
    [6, 7, 2, 1, 9, 5, 3, 4, 8],
    [1, 9, 8, 3, 4, 2, 5, 6, 7],
    
    [8, 5, 9, 7, 6, 1, 4, 2, 3],
    [4, 2, 6, 8, 5, 3, 7, 9, 1],
    [7, 1, 3, 9, 2, 4, 8, 5, 6],
    
    [9, 6, 1, 5, 3, 7, 2, 8, 4],
    [2, 8, 7, 4, 1, 9, 6, 3, 5],
    [3, 4, 5, 2, 8, 6, 1, 7, 9]
])

In [140]:
row = np.sum(s, axis=1) # row
for i in row:
    if i != 45:
        print("Sudoku is not Vaild")
        break
else:
    print("Sudoku is Vaild")

Sudoku is Vaild

In [141]:
column = np.sum(s, axis=0) # column
for i in column:
    if i != 45:
        print("Sudoku is not Vaild")
        break
else:
    print("Sudoku is Vaild")

Sudoku is Vaild

In [142]:
s[0:3,0:3]

array([[5, 3, 4],
       [6, 7, 2],
       [1, 9, 8]])

In [143]:
s[0:3,3:6]

array([[6, 7, 8],
       [1, 9, 5],
       [3, 4, 2]])

In [144]:
s[0:3,6:9]

array([[9, 1, 2],
       [3, 4, 8],
       [5, 6, 7]])

In [145]:
for i in range(0,9,3):
    for j in range(0,9,3): 
        n = s[i:i+3,j:j+3]
        print(n.sum())

45
45
45
45
45
45
45
45
45

## General Questions

In [147]:
# Columns: [Age, Math Marks, Science Marks]
data = np.array([
    [18, 85, 78],   # Student 1
    [19, 92, 88],   # Student 2
    [17, 76, 95],   # Student 3
    [18, 65, 70],   # Student 4
    [20, 90, 85]    # Student 5
])

In [148]:
#Get the shape of the matrix.
data.shape

(5, 3)

In [149]:
#Find the average age of students.
a1 = np.average(data[:,0])
# OR 
a2 = np.mean(data[:,0])

print((a1,a2))

(18.4, 18.4)

In [150]:
#Extract Math marks of all students.
data[:,1]

array([85, 92, 76, 65, 90])

In [151]:
#Find the highest Science mark.
np.max(data[:,2])

95

In [152]:
#Get details of the student who scored more than 90 in Math.
data[data[:,1] > 90]

array([[19, 92, 88]])

In [153]:
#Increase Math marks of all students by 5.
data[:,1] += 5
data

array([[18, 90, 78],
       [19, 97, 88],
       [17, 81, 95],
       [18, 70, 70],
       [20, 95, 85]])

In [154]:
#Find how many students are younger than 19.
sum(data[:,0] < 19)

3

In [155]:
#Calculate the average marks in each subject (column-wise mean).
np.mean(data[:,1:], axis=0)

array([86.6, 83.2])

In [156]:
#Get data of students who scored at least 80 in both subjects.
data[(data[:,1] >= 80) & (data[:,2] >= 80)]

array([[19, 97, 88],
       [17, 81, 95],
       [20, 95, 85]])

In [157]:
#Replace all Science marks < 75 with 0.
data[:,2][data[:,2] < 75] = 0
data

array([[18, 90, 78],
       [19, 97, 88],
       [17, 81, 95],
       [18, 70,  0],
       [20, 95, 85]])